@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1 id="appHead">LDS Sacrament Planner</h1>
<div id="homeimg">
<img class="logo" src="~/images/LDSLogo.png" atl="LDS Logo" />
<img class="logo" src="~/images/LDSChurch.jpg" atl="LDS Church" />
</div>